<div class="container">
    <div class='my-3'>
        <h4>Custom Observables</h4>
        <div class="row">
            <div class="col-md-6">
                <strong>Ex-01 (Manual)</strong>
                <hr>
                <ul class="techList" id="elContainer">
                </ul>
            </div>
            <div class="col-md-6">
                <strong>Ex-02 (Custom Interval Observables)</strong>
                <hr>
                <ul class="techList">
                    <li>Angular</li>
                    <li>Typescript</li>
                    <li>HTML and CSS</li>
                </ul>
            </div>
            <br>
            <hr>
            <div class="row my-3">
                <div class="col-md-12">
                    <strong>Ex- 3 (Random Names)</strong>
                    <p class="bg-light py-2 px-3 border rounded my-3">
                        <strong>Random Names</strong> 'Ajay','Shankar','Sharma','John','Alex','Robert'
                    </p>
                    <hr>
                    <p>Current Name : <strong class="text-success">Anup</strong></p>
                    <span class="badge bg-success">Success</span>
                </div>
            </div>
        </div>
    </div>
</div>