<div class="my-3">
    <h2>Filter</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Filter :</strong> By length
            </p>
            <br>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                </tr>
                <tr *ngFor='let items of data'>
                    <td>{{items.id}}</td>
                    <td>{{items.name}}</td>
                    <td>{{items.gender}}</td>
                </tr>
            </table>
            <hr>
        </div>
        <div class="col-md-4">
            <strong>Ex-01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Filter :</strong> First six
            </p>
            <br>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                </tr>
                <tr *ngFor='let items of data2'>
                    <td>{{items.id}}</td>
                    <td>{{items.name}}</td>
                    <td>{{items.gender}}</td>
                </tr>
            </table>
            <hr>
        </div>
        <div class="col-md-4">
            <strong>Ex-01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Filter :</strong> By Gender
            </p>
            <br>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                </tr>
                <tr *ngFor='let items of data3'>
                    <td>{{items.id}}</td>
                    <td>{{items.name}}</td>
                    <td>{{items.gender}}</td>
                </tr>
            </table>
            <hr>
        </div>
    </div>
</div>

