<div class="container">
    <div class="row">
        <div class="col-md-10">
            <ul class="list">
                <li class="my-3">
                    <a routerLink="fromEvent">From Event</a>
                </li>
                <li class="my-3">
                    <a routerLink="interval">Interval</a>
                </li>
                <li class="my-3">
                    <a routerLink="fromEvent">From Event</a>
                </li>
                <li class="my-3">
                    <a routerLink="of-from">Of From</a>
                </li>
                <li class="my-3">
                    <a routerLink="to-array">To Array</a>
                </li>
                <li class="my-3">
                    <a routerLink="custom">Custom</a>
                </li>
                <li class="my-3">
                    <a routerLink="map">Map</a>
                </li>
                <li class="my-3">
                    <a routerLink="pluck">Pluck</a>
                </li>
                <li class="my-3">
                    <a routerLink="filter">Filter</a>
                </li>
                <li class="my-3">
                    <a routerLink="tap">Tap</a>
                </li>
            </ul>
        </div>
    </div>
</div>