ul.list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    flex-wrap: wrap;
}
ul.list li:hover {
    background-color: #bbe4e4;
    border: 1px solid #669677;
}
.list li {
    border: 1px solid #d7d7d7;
    padding: 38px 89px;
    border-radius: 9px;
    background: #f3f3f3;
}
.list li:hover a {
    color: #669677!important;
}
.list li a {
    text-decoration: none;
    color: rgb(79, 206, 128);
}
