<div class="container">
    <div class='my-3'>
        <h4>Intervals</h4>
    </div>  
    {{obsMsg}} 
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 1</div>
                <div class="card-body">
                    <ul id="elContainer">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 2</div>
                <div class="card-body">
                    <ul id="elContainer2">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 3</div>
                <div class="card-body">
                    <ul id="elContainer3">
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>