<div class="my-3">
    <h2>Pluck</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Map :</strong> 'Video '+data
            </p>
            <br>
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tr *ngFor='let items of data'>
                    <td>{{items}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
