<div class="container">
    <div class='my-3'>
        <h4>Of Forms</h4>
    </div> 
    <div class="row">
        <div class="col-md-4">
            <div>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Data:</strong>of(&#123; a:'Ajay', b:'Shankar', c:'Sharma' &#125;)
                </p>
                <div >
                    <ul id="elContainer">
                    </ul>
                </div>
            </div>
        </div>  
        <div class="col-md-6">
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Data:</strong>of(&#123; a:'Ajay', b:'Shankar', c:'Sharma' &#125;)
            </p>
          
            <ul>
                <li><strong>a:</strong>{{obsMsg.a}}</li>
                <li><strong>b:</strong>{{obsMsg.b}}</li>
                <li><strong>c:</strong>{{obsMsg.c}}</li>   
            </ul>
        </div>
        <div class="col-md-4">
            <div>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Data:</strong>From(['Ajay', 'Shankar', 'Sharma' ] )
                </p>
                <div >
                    <ul id="elContainer3">
                    </ul>
                </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Data:</strong>From([promise] )
                </p>
                <div >
                    <ul id="elContainer4">
                    </ul>
                </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Data:</strong>From(String)
                </p>
                <div >
                    <ul id="elContainer5">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
