/* You can add global styles to this file, and also import other style files */
ul.techList{
    list-style-type: none;
    margin:0;
    padding: 0;
}
ul.techList li{
    background: #f8f8f8;
    border:1px solid #add;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;
}
ul.techList.error li{
    color:red;
}