<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Observables and Promises</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <select class="custom-select my-2">
            <option value="en">English</option>
            <option value="de">Deutsch</option>
          </select>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/promise">Promise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/observable">Observables</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>