ul.navbar-nav{
  
    justify-content: flex-end;
    width: 100%

}
.navbar{
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: rgb(89, 231, 224);
}
.navbar-brand
{
    color: #141619;
}
.nav-link{
    color: #141619;
}